<div class="center hero-unit">
	
	<h1>首页</h1>
	
	<h2>
    	这是一个简单 <a href="http://sample-app-inc.herokuapp.com/">Ruby on Rails weibo</a> 应用。
  	</h2>

  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>

<div id = "friend-link">
<blockquote>
  <p>特别感谢：</p>
</blockquote>
<%= link_to image_tag("cover.jpg", class: "img-circle", alt: "Ruby on Rails Tutorial"), "http://railstutorial-china.org/", target: "_blank" %>	
<%= link_to image_tag("rails.png", class: "img-circle", alt: "Rails"), 'http://rubyonrails.org/', target: "_blank" %>
<%= link_to image_tag("header-ruby-logo.png", class: "img-circle", alt: "Ruby"), "https://www.ruby-lang.org/zh_cn/", target: "_blank" %>
<%= link_to image_tag("logo11w.png", class: "img-circle", alt: "Google"), "https://www.google.com/", target: "_blank" %>
<%= link_to image_tag("thinkpad.jpg", class: "img-circle", alt: "thinkpad"), "http://www.lenovo.com/", target: "_blank" %>
</div>