<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>			
			<section>
				<%= render 'shared/micropost_form' %>
				<%= render 'shared/message_form' %>
				<p>小技巧：</p>
				<blockquote><p>d 人名 内容</p><small>按以上格式可以发私信</small></blockquote>
			</section>
<script type="text/javascript">
// 初始状态：显示发微博框，隐藏发私信框
$("#new_micropost").show()
$("#new_message").hide()
// 根据条件来显隐这两个框
$("#micropost_content").keyup(function(){
	if (this.value.match(/^d \S+ \S+/)) {
		$("#new_micropost").hide()
		$("#new_message").show()
		$("#message_content").focus()
		$("#message_content").val(this.value)}
	//else {
	//	$("#new_micropost").show()
	//	$("#new_message").hide()}
	})
$("#message_content").keyup(function(){
	if (this.value.match(/^d \S+ \S+/)) {
		//$("#new_message").show()
		//$("#new_micropost").hide()
	}
	else {
		$("#new_micropost").show()
		$("#new_message").hide()
		$("#micropost_content").focus()
		$("#micropost_content").val(this.value)}
})
</script>
		</aside>
		<div class="span8">
			<h3>微博流</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
<div class="center hero-unit">
	
	<h1>首页</h1>
	
	<h2>
    	这是一个简单 <a href="http://sample-app-inc.herokuapp.com/">Ruby on Rails weibo</a> 应用。
  	</h2>

  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>

<div id = "friend-link">
<blockquote>
  <p>特别感谢：</p>
</blockquote>
<%= link_to image_tag("cover.jpg", class: "img-circle", alt: "Ruby on Rails Tutorial"), "http://railstutorial-china.org/", target: "_blank" %>	
<%= link_to image_tag("rails.png", class: "img-circle", alt: "Rails"), 'http://rubyonrails.org/', target: "_blank" %>
<%= link_to image_tag("header-ruby-logo.png", class: "img-circle", alt: "Ruby"), "https://www.ruby-lang.org/zh_cn/", target: "_blank" %>
<%= link_to image_tag("logo11w.png", class: "img-circle", alt: "Google"), "https://www.google.com/", target: "_blank" %>
<%= link_to image_tag("thinkpad.jpg", class: "img-circle", alt: "thinkpad"), "http://www.lenovo.com/", target: "_blank" %>
</div>
<% end %>